---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}
  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
</div>

<!--div class="archive">
    
  <h1 id="page-title" class="page__title"></h1>

  <!--<p>Welcome to my simple blog.</p>-->

  <!--Start of profile page-->
  <!--h1>Hi! <img src="https://emojis.slackmojis.com/emojis/images/1531849430/4246/blob-sunglasses.gif?1531849430" width="30"/> Welcome to my website!</h1>

  Check out my github archive <a href="https://github.com/twseptian">Projects</a>, my <a href="https://scholar.google.com.tw/citations?user=XMuXhkAAAAAJ&hl=en">Research Publications</a>.

  Feel free to contact me by <a href="mailto:twseptian@gmail.com">Email</a>. For more information about this page, see <a href="/disclaimer">the disclaimer</a>, and <a href="/tos">terms and conditions</a> or just a simple description about me, see <a href="/whoami/">here</a>.</p>
  <!--End of profile page-->
<!--/div>